* {
	font-family: Monaco, Courier New;
	color: #666;
}

body {
	background-color: #aaa;
}

input[type=checkbox] {
	display: none;
}

.locations, #dates {
	list-style: none;
	padding: 0px;
}

.locations li {
	margin: 2px;
	padding: 2px;
	background-color: #ccc;
}

.locations li input[type=checkbox]:checked + label {
	font-weight: bold;
}

.locations li label, .locations li small {
	text-transform: lowercase;
}

.locations li small {
	color: black;
	font-size: 10px;
	display: block;
}