* {
	font-family: Monaco, Courier New;
	color: #666;
}

body {
	background-color: #aaa;
}

@media (min-width: 600px) {
	.container {
		display: flex;
	}

	.container section {
		width: 32%;
		margin: 10px;
	}
}

input[type=checkbox] {
	display: none;
}

.locations, #dates {
	list-style: none;
	padding: 0px;
}

.locations li, .locations li label, #dates li, #dates li {
	cursor: pointer;
}

.locations li, #dates li {
	margin: 2px;
	padding: 2px;
	background-color: #ccc;
}

#dates li.date {
	background-color: #eee;
}

.locations li input[type=checkbox]:checked + label {
}

.locations li label, .locations li small, #dates li small {
	text-transform: lowercase;
}

.locations li small, #dates li small {
	color: black;
	font-size: 10px;
	display: block;
}